* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.form-box {
    width: 420px;
    background-color: #e1a730;
    color: #fff;
    padding: 50px 35px;
    border-radius: 30px;
}

.form-box h1 {
    font-size: 36px;
    text-align: center;
    font-weight: 700;
}

.form-box .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: white;
    font-size: 18px;
    font-weight: 300;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.form-box .btn {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 20px;
    color: #333;
    font-weight: 600;
}

.btn:hover {
    color: #fff;
    background: navy;
}

.form-box .register {
    font-size: 18px;
    text-align: center;
    margin: 20px 0 15px;
}

.register p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register p a:hover {
    text-decoration: underline;
    color: navy;
}

.header {
    width: auto;
    height: 50%;
    position: sticky;
}

.form-box .guest {
    font-size: 18px;
    text-align: center;
}

.guest a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.guest a:hover {
    text-decoration: underline;
    color: navy;
}